.hoverH:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.hoverH:active {
  background-color: gray;
}

/* GENERAL */
ul {
  list-style-type: none;
}

header a {
  text-decoration: none;
  transition: 1s all;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.bg-color {
  background-color: #161616;
}

.white {
  color: white;
}

.centerTxt {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.bg-gray {
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
}

.gridMainProductos div {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
* {
  font-family: "Lato";
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fontLR {
  font-family: "Lato-Regular";
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.img-border {
  border-radius: 15px 15px 0px 0px;
}

.button {
  width: 40%;
  height: auto;
  background-color: #161616;
  color: white;
  border-radius: 5px;
  border-color: #000000;
}

.button:hover {
  background-color: white;
  color: black;
  transition: 1s all;
}

.logoHeader {
  width: 20%;
  height: auto;
}

li a {
  font-size: 15px;
}

/* MEDIA QUERIES */
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header, ul {
    display: flex;
  }
  main {
    display: grid;
    grid-template-areas: "imgPrincipal imgPrincipal imgPrincipal" "titulo titulo titulo" "bienvenidos bienvenidos bienvenidos" "pIzq imgTxt pDer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .imgPrincipal {
    grid-area: imgPrincipal;
  }
  .titulo {
    grid-area: titulo;
  }
  .bienvenidos {
    grid-area: bienvenidos;
  }
  .parrafoIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgTxt;
  }
  .parrafoDer {
    grid-area: pDer;
  }
  .just-content-spa-betw {
    justify-content: space-between;
  }
  .align-items-center {
    align-items: center;
  }
  header a {
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
  }
  .logoHeader {
    padding-left: 100px;
  }
  nav {
    padding-right: 100px;
  }
  .imgNav {
    padding-left: 50px;
  }
  footer {
    display: grid;
    grid-template-areas: "logo rrss contacto";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    align-items: center;
    justify-items: center;
  }
  .logo {
    grid-area: logo;
  }
  .rrss {
    grid-area: rrss;
  }
  .contacto {
    grid-area: contacto;
  }
  /* GRID PRODUCTOS */
  .gridMainProductos {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo" "titulo2 titulo2 titulo2 titulo2" "prodA prodB prodC prodD" "contacto contacto contacto contacto";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
  }
  .tituloProdu {
    grid-area: titulo;
  }
  .titulo2 {
    grid-area: titulo2;
  }
  .proyA {
    grid-area: prodA;
  }
  .proyB {
    grid-area: prodB;
  }
  .proyC {
    grid-area: prodC;
  }
  .proyD {
    grid-area: prodD;
  }
  .contacto {
    grid-area: contacto;
  }
  .gridMainNosotros {
    display: grid;
    grid-template-areas: "nosotros1 nosotros1" "titulo titulo" "logo1 texto1" "contacto1 contacto1";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
  }
  .gridMainNosotros .nosotros1 {
    grid-area: nosotros1;
  }
  .gridMainNosotros .titulo {
    grid-area: titulo;
  }
  .gridMainNosotros .logo1 {
    grid-area: logo1;
  }
  .gridMainNosotros .contacto1 {
    grid-area: contacto1;
  }
  .logoNosotros {
    width: 40%;
    height: auto;
    margin-left: 550px;
    padding-top: 20px;
  }
  .pr-400 {
    padding-right: 400px;
  }
}
/* TABLET */
/* MOBILE */
@media (max-width: 768px) {
  header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
  }
  header a {
    color: white;
    padding: 5px;
    margin: 5px;
  }
  .centrar {
    display: block;
    margin: 0 auto;
  }
  .logoHeader {
    width: 50%;
    height: auto;
  }
  body {
    overflow-x: hidden;
  }
  li a {
    font-size: 13px;
  }
  .button {
    width: 50%;
    height: auto;
  }
  .logoNosotros {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .texto1 {
    padding: 30px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .logoFooter {
    width: 40%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .logoFooter {
    width: 60%;
    height: auto;
  }
}
.instagram {
  width: 20%;
  height: auto;
}

.facebook {
  width: 20%;
  height: auto;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.p-6 {
  padding: 60px;
}

.p-7 {
  padding: 70px;
}

.p-8 {
  padding: 80px;
}

.p-9 {
  padding: 90px;
}

.p-10 {
  padding: 100px;
}

.p-11 {
  padding: 110px;
}

.p-12 {
  padding: 120px;
}

.p-13 {
  padding: 130px;
}

.p-14 {
  padding: 140px;
}

.p-15 {
  padding: 150px;
}

.p-16 {
  padding: 160px;
}

.p-17 {
  padding: 170px;
}

.p-18 {
  padding: 180px;
}

.p-19 {
  padding: 190px;
}

.p-20 {
  padding: 200px;
}

.p-21 {
  padding: 210px;
}

.p-22 {
  padding: 220px;
}

.p-23 {
  padding: 230px;
}

.p-24 {
  padding: 240px;
}

.p-25 {
  padding: 250px;
}

.p-26 {
  padding: 260px;
}

.p-27 {
  padding: 270px;
}

.p-28 {
  padding: 280px;
}

.p-29 {
  padding: 290px;
}

.p-30 {
  padding: 300px;
}

.p-31 {
  padding: 310px;
}

.p-32 {
  padding: 320px;
}

.p-33 {
  padding: 330px;
}

.p-34 {
  padding: 340px;
}

.p-35 {
  padding: 350px;
}

.p-36 {
  padding: 360px;
}

.p-37 {
  padding: 370px;
}

.p-38 {
  padding: 380px;
}

.p-39 {
  padding: 390px;
}

.p-40 {
  padding: 400px;
}

.p-41 {
  padding: 410px;
}

.p-42 {
  padding: 420px;
}

.p-43 {
  padding: 430px;
}

.p-44 {
  padding: 440px;
}

.p-45 {
  padding: 450px;
}

.p-46 {
  padding: 460px;
}

.p-47 {
  padding: 470px;
}

.p-48 {
  padding: 480px;
}

.p-49 {
  padding: 490px;
}

.p-50 {
  padding: 500px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.textWhite {
  color: white;
}

.bg-dark {
  background-color: rgb(44, 44, 44);
}

.bg-image {
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.card {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 50px;
  box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
}

.img {
  width: 10%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
