/* GENERAL */
*{font-family: Arial, Helvetica, sans-serif;}
ul{list-style-type: none;}
a{text-decoration:none;transition: 1s all;}
.img-fluid{width:100%;height: auto;}
.logoHeader{width: 20%;height: auto;}
.logoFooter{width: 20%;height: auto;}
.bg-color{background-color: #161616;}
.white{color:white}
.p20{padding: 20px;}
.m20{margin:20px;}
.centerTxt{text-align: center; color: white;}
body{margin:0;padding:0;}
.m0{margin: 0; padding: 0;}
.mtop20{margin-top: 20px;}
a:hover{
    color:black;
    background-color: white;
    border-radius: 10px;
    padding: 10px
}
a:active{
    background-color:gray
}
main div:nth-child(2){background-color: #161616;}
/* MEDIA QUERIES */
/* DESKTOP */
@media (min-width:1024px){
    /* GRID INDEX */
    .gridindex{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    header, footer, ul{display: flex;}
    main{
        display: grid;
        grid-template-areas: 
        "imgPrincipal imgPrincipal imgPrincipal"
        "titulo titulo titulo"
        "pIzq imgTxt pDer";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,auto);
    }
    .imgPrincipal{grid-area: imgPrincipal;}
    .titulo{grid-area: titulo;}
    .parrafoIzq{grid-area: pIzq;}
    .imgTexto{grid-area: imgTxt;}
    .parrafoDer{grid-area: pDer;}
    .just-content-spa-betw{justify-content: space-between;}
    .align-items-center{align-items: center;}
    a{color: white;font-size: 28px;
    padding: 5px;margin: 10px;}
    .logoHeader{padding-left: 100px;}
    nav{padding-right: 100px;}
    main{gap: 20px;}
}
/* TABLET */
@media (min-width:769px) and (max-width:1023px){
}
/* MOBILE */
@media (max-width:768px){
    header, footer{display: flex;
    flex-direction: column; 
    align-items: center;}
    ul{display: flex;padding:0}
    a{color: white;font-size: 22px;
    padding:5px;margin:5px;}
    .centrar{display: block; margin: 0 auto;}
    .logoHeader{width: 50%; height: auto;}
}