/* GENERAL */
*{font-family: Arial, Helvetica, sans-serif;}
ul{list-style-type: none;}
a{text-decoration:none;transition: 1s all;}
.img-fluid{width:100%;height: auto;}
.bg-color{background-color: #161616;}
.white{color:white}
.p20{padding: 20px;}
.m20{margin:20px;}
.mb20{margin-bottom: 20px;}
.centerTxt{text-align: center; color: white; background-color: #161616;}
body{margin:0;padding:0;}
.m0{margin: 0; padding: 0;}
.mtop20{margin-top: 20px;}
.bg-gray{background-color: gray; padding: 20px;
border-radius: 20px;}
.gridMainProductos div{display: flex; flex-direction: column; align-items: center;}
