/* GENERAL */
ul{list-style-type: none;}
header a{text-decoration:none;transition: 1s all;}
.img-fluid{width:100%;height: auto;}
.bg-color{background-color: #161616;}
.white{color:white}
.centerTxt{text-align: center;}
body{margin:0;padding:0;}
.bg-gray{background-color: gray; padding: 20px;
border-radius: 20px;}
.gridMainProductos div{display: flex; flex-direction: column;}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato-Regular.ttf);
  }
*{font-family: "Lato";}
.centerImg{display: block;margin-left: auto;margin-right: auto;}
.fontLR{font-family: "Lato-Regular";}
.m-0{margin: 0px;}
.p-0{padding: 0px;}
.img-border{border-radius: 15px 15px 0px 0px;}
.button{width: 40%;height: auto; background-color: #161616; color: white;border-radius: 5px; border-color: #000000;}
.button:hover{background-color: white;color: black;transition: 1s all;}
.textarea{resize: none;}
.button1{background-color: #161616; color: white;border-radius: 5px; border-color: #000000;}
.button1:hover{background-color: white;color: black;transition: 1s all;}

// GRID FORMULARIO
.gridForm{
  display: grid;
  grid-template-areas: 
  "nombre telefono"
  "email email"
  "consulta consulta"
  "boton1 boton1";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  .nombre{grid-area: nombre;}
  .telefono{grid-area: telefono;}
  .email{grid-area: email;}
  .consulta{grid-area: consulta;}
  .boton1{grid-area: boton1;}
}