/* MEDIA QUERIES */
/* DESKTOP */
@media (min-width:1024px){
    /* GRID INDEX */
    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    header, ul{display: flex;}
    main{
        display: grid;
        grid-template-areas: 
        "imgPrincipal imgPrincipal imgPrincipal"
        "titulo titulo titulo"
        "bienvenidos bienvenidos bienvenidos"
        "pIzq imgTxt pDer";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,auto);
    }
    .imgPrincipal{grid-area: imgPrincipal;}
    .titulo{grid-area: titulo;}
    .bienvenidos{grid-area: bienvenidos;}
    .parrafoIzq{grid-area: pIzq;}
    .imgTexto{grid-area: imgTxt;}
    .parrafoDer{grid-area: pDer;}
    .just-content-spa-betw{justify-content: space-between;}
    .align-items-center{align-items: center;}
    header a{color: white;font-size: 15px;
    padding: 5px;margin: 10px;}
    .logoHeader{padding-left: 100px;}
    nav{padding-right: 100px;}
    .imgNav{padding-left: 50px;}
    // GRID FOOTER
    footer{
        display: grid;
        grid-template-areas: "logo rrss contacto";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,auto);
        align-items: center;
        justify-items: center;
    }
    .logo{grid-area: logo;}
    .rrss{grid-area: rrss;}
    .contacto{grid-area: contacto;}
    /* GRID PRODUCTOS */
    .gridMainProductos{
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "titulo2 titulo2 titulo2 titulo2"
        "prodA prodB prodC prodD"
        "contacto contacto contacto contacto";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
    }
    .tituloProdu{grid-area: titulo;}
    .titulo2{grid-area: titulo2;}
    .proyA{grid-area: prodA;}
    .proyB{grid-area: prodB;}
    .proyC{grid-area: prodC;}
    .proyD{grid-area: prodD;}
    .contacto{grid-area: contacto;}
    // GRID NOSOTROS
    .gridMainNosotros{
        display: grid;
        grid-template-areas:
        "nosotros1 nosotros1"
        "titulo titulo"
        "logo1 texto1"
        "contacto1 contacto1";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        .nosotros1{grid-area: nosotros1;}
        .titulo{grid-area: titulo;}
        .logo1{grid-area: logo1;}
        .contacto1{grid-area: contacto1;}
    }
}
/* TABLET */
@media (min-width:769px) and (max-width:1023px){
}
/* MOBILE */
@media (max-width:768px){
    header, footer{display: flex;
    flex-direction: column; 
    align-items: center;}
    ul{display: flex;padding:0}
    header a{color: white; padding:5px;margin:5px;}
    .centrar{display: block; margin: 0 auto;}
    .logoHeader{width: 50%; height: auto;}
    body{overflow-x: hidden;}
    li a{font-size: 13px;}
    .button{width: 50%;height: auto;}
}